<div class="login-box-main">
	<h2 id="TitleSignin">Sign in</h2>
	<form method="post" id="loginForm" action="/auth/login/">
	<div class="login-box-input" id="identifiant_box">
		<label for="identifiant" class="form-label" id="identifiant_title">Identifiant</label>
		<input type="text" class="form-control login-input" id="identifiant" name="identifiant" autocomplete="off" required>
	</div>
	<div class="login-box-input" id="password_box">
		<label for="password" class="form-label" id="password_title">Password</label>
		<input type="password" class="form-control login-input" id="password" name="password" autocomplete="off" required>
	</div>
	<button type="submit" class="login-submit-btn" id="connexionbutton">Log in</button>
</form>
</div>