<span class="loader-history" id="loader_history"></span>
<div class="main_history">
	<div class="profil" id="profil">
		<div class="flex-row">
			<div class="flex-column-profil padding-bot-17">
				<img class="profil-logo" src="" alt="profil-picture" id="Profil-picture">
			</div>
			<div class="padding-bot-17">
			<div class="score-profil">
				<p class="silkscreen-regular win-match margin-15px-right margin-top-bot" id="win_id">WIN:</p>
				<p class="silkscreen-regular margin-top-bot" id="win-number"></p>
			</div>
			<div class="score-profil">
				<p class="silkscreen-regular loose-match margin-15px-right margin-top-bot" id="loose_id">LOSE:</p>
				<p class="silkscreen-regular margin-top-bot" id="loose-number"></p>
			</div>
			<div class="score-profil">
				<p class="silkscreen-regular margin-15px-right margin-top-bot"  id="winrate">RATIO:</p>
				<p class="silkscreen-regular margin-top-bot" id="ratio-number"></p>
			</div>
		</div>
		</div>
		<p class="player-name" id="player-name">PLAYER-NAME</p>
	</div>
	<div class="leaderboard-scroll">
		<div class="leaderboard-list" id="leaderboard_list">
		</div>
	</div>
</div>