<div class="login-box-main">
	<h2 id="TitleSignup">Sign up</h2>
	<form method="post" id="registrationForm" action="/auth/signup/">
	<div class="login-box-input" id="identifiant_box">
		<label for="identifiant" class="form-label" id="identifiant_title">Identifiant</label>
		<input type="text" class="form-control login-input" id="identifiant" name="identifiant" autocomplete="off" required>
	</div>
	<div class="login-box-input" id="username_box">
		<label for="username" class="form-label" id="username_title">Username</label>
		<input type="text" class="form-control login-input" id="username" name="username" autocomplete="off" required>
	</div>
	<div class="login-box-input" id="email_box">
		<label for="email" class="form-label" id="email_title">Email address</label>
		<input type="email" class="form-control login-input" id="email" name="email" autocomplete="off" required>
	</div>
	<div class="login-box-input" id="password_box">
		<label for="password" class="form-label" id="password_title">Password</label>
		<input type="password" class="form-control login-input" id="password" name="password" autocomplete="off" required>
	</div>
	<div class="login-box-input" id="confirm_password_box">
		<label for="confirm_password" class="form-label" id="confirm_password_title">Confirm password</label>
		<input type="password" class="form-control login-input" id="confirm_password" name="confirm_password" autocomplete="off" required>
	</div>
	<button type="submit" class="login-submit-btn" id="signupbutton">Submit</button>
</form>
</div>